.idea/*
*.pyc
.ipynb_checkpoints/
data/
dist/
build/
pytorch-pretrained-BERT
OpenNMT-py
gpt-2
texar
Texygen
*.log
*.out
dataCases
.pytest_cache
bert
bert-as-service
OpenNMT-tf
seq2seq
sumy
TextBlob
